
.sub-page-search-bar{
    padding: 25px 0;
    position: relative;
    border-bottom: 1px solid #E1E1E1;
}
.title-hint{
    padding-left: 15px;
    border-left: 3px solid #0072E5;
    font-size: 16px;
}
.sub-search-bar{
    position: absolute;
    right: 15px;
    top: 18px;
}
.sub-search-input{
    height: 30px;
    width: 266px;
    font-size: 13px;
    padding-left: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
.search-icon{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../../img/search.png");
    position: relative;
    left: 30px;
    top: 4px
}

.screen-bar{
    padding-left: 15px;
    padding-top: 30px;
    position: relative;
}
.screen-tab-content{
    position: absolute;
    z-index: 9;
    background: #FFF;
    width: 100%;
    transition: all .5s;
    margin-top: -2px;
}
.screen-course-content{
    border: 1px solid #0072E5;
    min-width: 240px;
    padding: 10px;
    z-index: 20;
    margin-top: -1px;
    display: none;
}
.course-item{
    float: left;
    line-height: normal;
    padding: 5px 15px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #FFF;
}
/*.course-item:hover{
    border-color: #0072E5;
    color: #0072E5;
}*/
.course-item.course-item-active{
    border: 1px solid #0072E5;
    color: #0072E5;
}
.screen-course:hover a{
    z-index: 21;
    border-color: #0072E5;
    border-bottom-color: #FFF;
    height: 40px;
}
.screen-course:hover .screen-course-content{
    display: block;
}

.count-list{
    padding: 15px;
}
.count-list .row{
    border: 1px solid #E1E1E1;
    padding: 20px 0;
}
.count-list .row .col-xs-3{
    border-right: 1px solid #E1E1E1;
    text-align: center;
}
.count-list .row .col-xs-3:last-child{
    border-right: none;
}
.name{
    font-size: 16px;
    margin-bottom: 15px;
}
.number-bar .number{
    font-size: 30px;
    color: #0072E5;
}
.number-bar .unit {
    font-size: 12px;
    color: #999999;
    margin-left: 5px;
}

.layui-form-label{
    width: 50px;
    text-align: left;
    padding: 5px;
    padding-left: 0;
}
.layui-input, .layui-select, .layui-textarea{
    height: 30px;
    line-height: 30px;
}
.layui-form-item .layui-input-inline{
    width: 100px;
}
.layui-form-select dl{
    top: 32px;
}
.layui-form-item{
    margin-bottom: 0;
}
.screen-course{
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    position: relative;
}

.screen-course a{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    text-align: center;
    border: 1px solid #E1E1E1;
    color: #999999;
    font-size: 12px;
    box-sizing: border-box;
    position: relative;
}

.screen-course a i{
    font-size: 20px;
    position: absolute;
    right: 10px;
    color: #CBCBCB;
}
.screen-address{
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    position: relative;
}

.screen-address a{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    text-align: center;
    border: 1px solid #E1E1E1;
    color: #999999;
    font-size: 12px;
    box-sizing: border-box;
    position: relative;
}

.screen-address a i{
    font-size: 20px;
    position: absolute;
    top: 1px;
    right: 10px;
    color: #CBCBCB;
}

.export-bar{
    padding: 15px;
}
.export-bar button{
    position: relative;
    bottom: 0;
}


/*弹窗选择地址样式*/
.select-address{

}
.select-address .address-tab{
    height: 50px;
    border-bottom: 1px solid #E1E1E1;;
}
.select-address .address-tab li{
    float: left;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    cursor: pointer;
}
.select-address .address-tab .not-click{
    cursor: default !important;
}
.address-tab-content{
    padding-top: 10px;
    height: 300px;
    overflow-y: auto;
}
.address-tab-item{
    display: none;
}
.address-tab-item-show{
    display: block;
}
.address-tab-item .address-list li{
    font-size: 12px;
    padding: 10px 15px;
}
.address-active{
    color: #0072E5;
    border-bottom: 1px solid #0072E5;
}
.address-list li{
    cursor: pointer;
}
.address-list-active{
    border-left: 5px solid #0072E5;
    color: #0072E5;
}