
.content-right .layui-tab-content{
    border-radius: 6px 6px 0 0;
    border: 1px solid #E1E1E1;
    border-top: 3px solid #0072E5;
    padding: 0;
    margin-top: 20px;
}

/*折叠课程*/
.course-list{
    border-bottom: 1px solid #E1E1E1;
}
.course-list:last-child{
    border-bottom: none;
}
.lookUp{
    padding: 15px;
    padding-left: 0;
}
.simulation{
    padding: 15px;
}
.course-title{
    font-size: 16px;
    padding-bottom: 10px;
}
.course-label{
    margin-bottom: 10px;
    font-size: 12px;
}
.year-label{
    background: #0072E5;
    color: #FFF;
    padding: 3px 10px;
    border-radius: 4px;
    margin-right: 10px;
    display: inline-block;
}
.erect{
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #0072E5;
    margin-right: 10px;
}
.type-label{
    border: 1px solid #0072E5;
    color: #0072E5;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 30px;
    display: inline-block;
}
.exam-progress-bar{
    position: relative;
}
.parent-bar{
    padding-right: 16.66666667%;
}
.exam-progress{
    display: inline-block;
    height: 6px;
    background: #F8AD36;
    width: 50%;
    position: relative;
}
.exam-num-parent{
    position: relative;
    display: block;
    width: 100%;
}
.exam-num{
    position: absolute;
    font-size: 12px;
    color: #999999;
    top: -10px;
    left: 50%;
    width: 50px;
    margin-left: 10px;
}
.catalogue-list{
    display: none;
}
.catalogue-item{
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}
.catalogue-item:before{
    position: absolute;
    top: 0;
    width: 100%;
    border-top: 1px dashed #E1E1E1;
    left: 8.33333333%;
}
.catalogue-item:hover{
    background: #F0F7FD;
}
.catalogue-title{
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
}
.doExercise{
    position: relative;
    padding-right: 30px;
}
.icon-do-exam{
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url("../../img/edit.png");
    position: absolute;
    right: 7px;
    top: 7px;
}
.simulation-btn{
    float: right;
    padding-right: 30px;
}
.doExercise-div{
    text-align: right;
    padding-right: 15px;
}
.plan{
    position: relative;
    text-align: center;
}
.plan span{
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 35px;
    height: 80px;
    width: 1px;
    background: #E1E1E1;
    z-index: 8;
}
.plan .icon-all{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../img/all.png");
    position: relative;
    z-index: 9;
    top: 5px;
}
.catalogue-item:last-child .plan span{
    height: 36px;
}
.fold{
    position: relative;
    text-align: center;
}
.fold span{
    display: inline-block;
    position: absolute;
    height: 0;
    width: 1px;
    background: #E1E1E1;
    top: 10px;
    left: 35px;
    z-index: 8;
}
.fold .icon-add{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../img/close.png");
    position: relative;
    z-index: 9;
    top: 5px;
    left: 1px;
    cursor: pointer;
}
.fold.fold-active span{
    height: 80px;
}
.fold.fold-active .icon-add{
    background: url("../../img/open.png");
}
.state-label{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    margin-left: 30px;
}
.state-label.state-pass{
    background: #0072E5;
}
.state-label.state-not-pass{
    background: #999999;
}

.count-num-bar{
    position: absolute;
    right: 0;
    top: 5px;
    min-width: 310px;
}
.count-num-bar .col-xs-6{
    font-size: 13px;
    position: relative;
    padding: 5px 15px;
}
.count-num-bar .col-xs-6:first-child{
    border-right: 1px solid #E1E1E1;
}
.count-num-bar .col-xs-6 span{
    font-size: 30px;
    color: #0072E5;
    margin: 0 5px;
}